/* globals.css */

/* ★ 読み込むフォントをNoto Sans JPに変更 ★ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

/* CSSの初期化 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  /* ★ 基本フォントをNoto Sans JPに変更 ★ */
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #3A6A47;
  background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 5px 5px;
  color: #333;

  /* フォントを滑らかにする設定 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style: none;
}